html {
  height: 800px;
}
.contain {
  /* border: 1px solid red; */
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
aside.aside,
main.main {
  /* display: inline-block; */
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  /* height: calc(100vh - 54.4px - 100px); */
}

aside.aside {
  /* border: 1px solid rgb(102, 250, 102); */
  width: 300px;
  height: 100%;
  /* margin-left: 150px; */
  background-color: #3d1504;
  color: antiquewhite;
}

div.contain aside.aside p#p1 {
  /* border: 1px solid red; */
  text-align: center;
  font-size: 34px;
  font-style: inherit;
  color: white;
}
div.contain aside.aside div.div_func {
  /* border: 1px solid red; */
  padding: 5px;
}
div.contain aside.aside div.div_func div {
  /* border: 1px solid blue; */

  font-size: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
  /* margin: auto; */
  text-align: center;
}
div.contain aside.aside div.div_func div  a {
 
  /* border: 0px solid transparent; */
  /* outline: n one; */
  vertical-align: middle;
  text-decoration: none;
  color: white;
}

div.contain aside.aside div.div_func div > a:hover {
  background-color: rgb(137, 100, 6);
  color: white;
  cursor: pointer;
}
/* -------------主內容----------------------------------------------- */
main.main {
  /* border: 1px solid rgb(244, 0, 0); */
  width: calc(100% - 200px - 20px);
  height: 100%;
  /* margin-right: 150px; */
}
main.main div.title h1 {
  text-align: center;
  color: black;
  font-size: 50px;
}
main.main label {
  font-size: 25px;
  align-items: center;
}
main.main div.all_product {
  margin-left: 100px;
}
select.p_type,
#p_name,
input.p_file,
span.text {
  font-size: 20px;
}
.p_file {
  width: 300px;
}
.div_file {
  display: inline-flex;
}
.preview {
  border: 1px solid lightgray;
  display: flex;
  width: 130px;
  min-height: 150px;
  position: relative;
  margin-right: 170px;
}
.preview span.text {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  color: lightgray;
}
.preview img.preview_img {
  width: 100%;
}

div.comm {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: baseline;
}
div#p_pre {
  display: flex;
  flex-direction: column;
  position: relative;
}
div#button {
  margin-left: 100px;
}
div#button input {
  font-size: 20px;
  width: 150px;
}

div.all_preview {
  display: flex;
}
input#p_stock {
  margin-left: 50px;
}
textarea#p_produce{
width: 552px; 
height: 65px;
}
p{
	color:yellow;
}
