@charset "UTF-8";
div.div_register {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  height: 100%;
  background-size: 100%;
}
form.register_form {
  background-color: rgba(253, 253, 253, 0.314);
  width: 800px;
  border-radius: 10px;
  height: 1000px;
}
form.register_form h2 {
  text-align: center;
  font-size: 50px;
}
div.register_row {
  justify-content: center;
  display: flex;
  margin: 30px;
  position: relative;
}
div.register_row label {
  font-size: 25px;
}
input.register_control {
  font-size: 20px;
  margin-left: 30px;
}
#register_email {
  margin-right: 10px;
}

#store_type{
  font-size: 20px;
}

input#register_day {
  margin-right: 30px;
  /* border: 1px solid red; */
}
#register_open,
#register_close {
  margin-right: 50px;
}
div.register_btn {
  text-align: center;
}
button#register {
  display: inline-block;
  margin: 0 auto;
  font-size: 20px;
  margin-right: 30px;
  cursor: pointer;
}
button#cancel {
  display: inline-block;
  margin: 0 auto;
  font-size: 20px;
}
a.back{
  text-decoration: none;
  color: black;
}