* {
	box-sizing: border-box;
}

body {
	margin: 0px;
}

header.header {
	font-size: 16px;
	width: 100%;
	min-width: 1200px;
	background-color: rgb(54, 26, 21);
}

.fl_left {
	float: left;
}

a#logo {
	text-decoration: none;
	margin-left: 20px;
	display: inline-block;
	margin-top: 5px;
	color: rgb(177, 123, 56);
}

#logo_h1 {
	margin: 0px;
}

ul.nav_ul {
	position: relative;
	z-index: 2;
	display: inline-block;
	margin-left: 100px;
}

ul.nav_ul li {
	display: inline-block;
	margin: 0 20px;
	position: relative;
}

ul.nav_ul li:hover ul#store {
	visibility: visible;
}

ul.nav_ul li a {
	text-decoration: none;
	color: rgb(177, 123, 56);
	width: 200px;
}

ul.nav_ul ul {
	visibility: hidden;
	position: absolute;
	display: block;
	background-color: rgb(54, 26, 21);
	padding: 0px;
	width: 150px;
	padding-right: 20px;
}

ul.nav_ul ul li {
	margin: 5px;
	width: 100%;
	padding: 5px;
}

ul.nav_ul li a:hover {
	color: white;
}

ul.nav_ul li a.icon::after {
	content: "";
	display: inline-block;
	width: 0px;
	height: 0px;
	border-top: 5px solid gray;
	border-bottom: 0px solid red;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	position: relative;
	top: -2px;
	margin-left: 5px;
}

#map {
	position: relative;
	z-index: 1;
	margin-right: 10px;
	margin-top: 10px;
	height: 720px;
	width: 49%;
	float: right;
}

.btn {
	width: 9%;
	line-height: 40px;
	font-size: 16px;
	color: rgb(255, 157, 0);
	text-align: center;
	background-color: rgb(255, 255, 255);
	border-radius: 15px;
	cursor: pointer;
	margin-inline: 10px;
}

.btn:hover {
	transform: scale(1.05);
}

.btn:active {
	transform: scale(1.1);
	box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .2);
}

.selected {
	width: 150px;
	line-height: 40px;
	font-size: 16px;
	color: PapayaWhip;
	text-align: center;
	background-color: Chocolate;
	border: 3px solid SaddleBrown;
	border-radius: 15px;
	cursor: pointer;
}

.store {
	border: 2px solid black;
	display: block;
	width: 49%;
	height: 83%;
	overflow: auto;
	float: left;
	position: relative;
}

.storeitem {
	padding: 8px 16px 6px;
	border-bottom: 1px solid #d8d8d8;
	display: block;
	height: 200px;
}

a {
	text-decoration: none;
}

a:link {
	color: #e6c3c3;
}

a:visited {
	color: #e6c3c3;
}

a:active {
	box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .1);
}

a:hover {
	color: white;
	box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .1);
}

a#mapp {
	font-size: 19px;
}

a#mapp:hover {
	color: brown;
}

.pro {
	color: #009393
}
div.name{
  display: flex;
  justify-content: space-between;
}

div.f {
	align-items: center;
	display: inline-block;
}

div.nf {
	align-items: center;
	display: inline-block;
}