/* ---------------Footer-------------------------------------------------------------- */
footer#footer {
  /* border: 1px solid red; */
  width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100%;
  height: 100px;
  display: flex;
  background-color: rgba(54, 26, 21, 1);
  flex-direction: row;
  justify-content: space-around;
  /* margin-bottom: -50px; */
}

footer#footer div.div_li {
  /* border: 1px solid red; */
}
footer#footer div.div_li > h2 {
  text-shadow: 3px;
  color: rgba(177, 123, 6, 1);
  margin: 10px;
  /* margin-top: 10px; */
}
footer#footer div.div_li > ul {
  /* padding: 5px; */
}
footer#footer div.div_li > ul > li {
  list-style: none;
}
footer#footer div.div_li > ul > li > a {
  color: rgba(177, 123, 6, 1);
  text-decoration: none;
}
footer#footer div.div_li > ul > li > a:hover {
  background-color: aquamarine;
  color: aliceblue;
}
div.div_img img {
  height: 100%;
  width: 250px;
  display: block;
  /* margin-right: 75%; */
}
