*{
    box-sizing: border-box;
}
div.div_login{
    /* border: 1px solid red; */
    display: grid;
    justify-content: center;
    text-align: center;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;
    background: linear-gradient(90deg, rgba(190,188,188,0.6754901789817489) 10%, rgb(122, 253, 255) 50%, rgba(190,188,188,0.6586834562926733) 90%); 
}
div.div_login main.login_main{
    width: 400px;
    height: 400px;
    border-radius: 20px;
    margin-top: 80px;
    border: 1px solid black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0,0.8);

}
div.div_login main.login_main form.login_form input{
    border-radius: 5px;
    font-size: 18px;
}
div.div_login main.login_main form.login_form > h2{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
div.div_login main.login_main form.login_form div{
    /* border: 1px solid red; */
    margin-top: 15px;
    font-size: 22px;
    font-weight: 700;
}
#login_verify{
    width: 100px;
}
#login_check{
    /* border: 1px solid red; */
    width: 100px;
    height: 40px;
    transform: translate(0%,5%);
    border-radius: 0px;

    font-size: 22px;
}
#login_check:hover{
    cursor: pointer;
}
.two_but{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}
.two_but :hover{
    background-color: #DD774E;
    cursor: pointer;
    font-weight: 700;
}
.two_but > button{
    width: 80px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
}
.two_but #cancel > a{
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
}
.two_but #cancel > a:link{
    color: black;
}
.two_but #cancel > a:visited{
    color: black;
}
.div_a{
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    
}
.div_a > a{
    /* border: 1px solid red; */
    outline: none;
    color: rgb(7, 7, 6);
    margin: 5px 5px;
    text-decoration: none;
    font-weight: 700;
    
}
.div_a > a:hover{
    background-color:rgba(190, 188, 188,0.8);
    color: #000000;
    
}
