*{
    box-sizing: border-box;
}
div.menCenter_contain{
    display: flex;
    min-height: 550px;
    margin: 20px;
    margin-left: 10%;
}
div.menCenter_contain aside.menCenter_aside{
    
    min-width: 200px;
    display:block;
    background-color: #e2e5ac;
}
div.menCenter_contain aside.menCenter_aside > h2{
    font-size: 28px;
    text-align: center;
    
    text-shadow: 5px;
}
div.menCenter_contain aside.menCenter_aside ul.menCenter_ul{
    list-style: none;
    padding: 0px;
}
div.menCenter_contain aside.menCenter_aside ul.menCenter_ul > li{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;

}
div.menCenter_contain aside.menCenter_aside ul.menCenter_ul > li > button {
    width: 100%;
    border-radius: 5px;
    
}
div.menCenter_contain aside.menCenter_aside ul.menCenter_ul > li > button > a{
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 43px;
    padding-right: 43px;
    display: block;
}
div.menCenter_contain aside.menCenter_aside ul.menCenter_ul > li > button > a:hover{
    background-color: #DD774e;
}
div.menCenter_contain aside.menCenter_aside ul.menCenter_ul > li > button > a:link{
    color: black;
}
div.menCenter_contain aside.menCenter_aside ul.menCenter_ul > li > button > a:visited{
    color: black;
}
div.menCenter_contain main.menCenter_main{
    display: flex;
    width: 100%;
}
div.menCenter_contain main.menCenter_main div.menCenter_div{
    /* border: 1px solid lightblue; */
    width: 75%;
}
div.menCenter_contain main.menCenter_main div.menCenter_div div.menCenter_title{
    /* border: 1px solid lawngreen; */
    margin-top: 5px;
    font-size: 20px;
    text-align: center;
}
